@import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap');

.main {
    box-sizing: border-box;
    padding: 177px 130px 33px 95px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;

    width: 960px;
    background: white;
    border-radius: 10px;

}

.container {
    perspective: 25px;
    overflow: hidden;
}

.inner {
    max-width: 100%;
    max-height: 100vh;
    transition: transform 0.2s;
    -webkit-transition: transform 0.2s;
    -moz-transition: transform 0.2s;
    -o-transition: transform 0.2s;
}

@media only screen and (max-width: 768px) {
    .container {
        display: none;
    }

    form {
        width: 100%;
    }

    .main {
        height: 600px;
        padding: 10% 10%;
    }

    form .input_container * {
        display: inline-block;
        width: 100%;
    }
}

.title {
    padding-bottom: 54px;
    text-align: center;
    font-size: 1.375em;
    font-weight: bold;
    line-height: 1.2;
    color: #333;
}

.input_span_container:before {
    padding-top: 15px;
    padding-left: 25px;
    font-size: 20px;
    position: absolute;
    -webkit-transition: all 0.4s;
    transition: all 0.5s;
    font-family: 'FontAwesome' !important;
}

.input_span_container:focus-within::before {
    color: rgba(87, 184, 70, 1);
    padding-left: 22px;
}

.password::before {
    content: "\f023";
    padding-left: 28px;
}

.email::before {
    content: "\f2b6";
    padding-left: 28px;
}

form {
    height: 50%;
    overflow: visible;
}

.text_center {
    font-size: 13px;
    text-align: center;
    padding-top: 12px;
    color: #999;
    line-height: 2;
    height: 24px;
}

input {
    background: #e6e6e6;
    border: 0;
    margin-bottom: 10px;
    border-radius: 25px;
    height: 50px;
    padding-left: 68px;
    box-sizing: border-box;
    width: 290px;
    font-size: 15px;
    color: #807a79;
    font-weight: 500;
}

input:focus {
    animation: focus_shadow 0.4s ease-in forwards;
    outline: none;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

/* FF 4-18 */
input:focus:-moz-placeholder {
    color: transparent;
}

/* FF 19+ */
input:focus::-moz-placeholder {
    color: transparent;
}

/* IE 10+ */
input:focus:-ms-input-placeholder {
    color: transparent;
}

@keyframes focus_shadow {
    0% {
        box-shadow: 0 0 0 0;
        color: rgba(87, 184, 70, 1);
    }

    99% {
        box-shadow: 0 0 70px 20px;
        color: rgba(87, 184, 70, 0);

    }

}

.submit_div {
    transition: .4s;
    padding-top: 20px;
}

.submit_div>input {
    padding: 0 25px;
    background: #57b846;
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 0px;
    font-family: Montserrat;
    line-height: 1.5;

}

.submit_div>input:hover {
    transition: .4s;
    background: #333
}

a {
    color: #666666;
    text-decoration: none;
}

a:hover {
    transition: .4s;
    color: #57b846;
}

.last {
    padding-top: 136px;

}

.arrow_icon::before {
    display: inline-block;
    margin-left: 5px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: '\f178';
}